<ion-header>
  <ion-toolbar>
    <ion-title>Lista de reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> <b> Ver eventos mas cercanos </b></ion-label>
    <ion-toggle
      (ionChange)="cambio($event)"
    ></ion-toggle>
  </ion-item>
  <ion-item *ngFor="let reservacion of reservas">
    <p>Fecha de reserva: {{reservacion.fecha}}<br/>
       Cliente: {{reservacion.nombre}}<br>
       Teléfono: {{reservacion.telefono}} <br>
       Total a pagar: {{reservacion.total}}
    </p>
    
  </ion-item>
</ion-content>